.plp-page {
  width: 100%;
  min-height: 100vh;
  background: white;

}

.plp-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 16px;
}

.plp-title {
  display: block;
  max-width: 100%;
  height: auto;
  font-weight: 760;
  font-size: 64px;
}

.sub-title{
    margin-top: 32px;
    font-weight: 600;
    font-size: 18px;
    background-color: #00E1FF;
    padding: 6px 10px;
}

.tab-btn{
width: 120px;
height: 40px;
border-radius: 0;
background-color: white;
border: solid 1px #E6E6EA;
margin-top: 60px;
font-weight: 500;
font-size: 18px;
 outline: none;
}

.tab-btn.active{
background-color: #23232A;
border:solid 1px #23232A;
color: white;
font-weight: 700;
border: none;
outline: none;
}
.tab-btn:hover {
border: none;
 outline: none;
}

.poster-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

/* 700~1399px: 2열 */
@media (max-width: 1399px) and (min-width: 700px) {
  .poster-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 360~699px: 1열 */
@media (max-width: 699px) {
  .plp-content {
    align-items: center;
  }
  .tab-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    width: 100%;
    max-width: 360px;
    justify-items: center;
  }
  .sub-title{
    align-items: center;
  }
  .poster-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .tab-btn{
    width: 72px;
    min-width: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-title {
    text-align: center;
  }
}
